package pages

import "github.com/chaiyapluek/go-htmx/templates"

templ Contact() {
	@templates.Layout(nil) {
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Contact Page</h1>
				</div>
			</div>
		</div>
	}
}
